#textdomain wesnoth-units
[unit_type]
    id=Great Riverlizard
    name= _ "Great Riverlizard"
    race=monster
    image="units/riverlizard/great_riverlizard.png"
    profile=""
    hitpoints=45
    movement_type=riverlizard
    movement=9
    experience=65
    level=2
    alignment=neutral
    advances_to=Dreadscale
    cost=28
    usage=swimmer
    description= _ ""
    die_sound=hiss-die.wav
    [abilities]
        [hides]
            id=swamp_lurk
            name= _ "swamp lurk"
            female_name= _ "female^swamp lurk"
            description= _ "This unit can hide in swamp, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in swamp, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
            affect_self=yes
            [filter]
                [filter_location]
                    terrain=S*^*
                [/filter_location]
            [/filter]
        [/hides]
    [/abilities]
    [attack]
        name=bite
        description=_"bite"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/fangs.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
